<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DKO</title>
</head>
<body>
<h4>User administration</h4>
<div>
    <h4>Group administration</h4>
    <form action="#" th:action="@{/createGroup}" th:object="${entityFormDTO}" method="post">
        Group name:<br>
        <input type="text" name="name">
        <br>
        <input type="submit" value="Create">
    </form>
    <form action="#" th:action="@{/deleteGroup}" th:object="${entityFormDTO}" method="post">
        Group name:<br>
        <input type="text" name="name">
        <br>
        <input type="submit" value="Delete">
    </form>
</div>
<h4>Permission administration</h4>
<h4>Validate permissions</h4>
</body>
</html>