<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>DKO</title>
</head>
<body>
<div>
    <h4>Register management</h4>
    <form th:action="@{/createGroup}" th:object="${entityFormDTO}" method="post">
        Name:<br>
        <input type="text" name="name">
        <p class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name error.</p>
        <br>
        <input type="submit" value="Create Group" th:formaction="@{/register/createGroup}">
        <input type="submit" value="Delete Group" th:formaction="@{/register/deleteGroup}">
        <br>
        <input type="submit" value="Create User" th:formaction="@{/register/createUser}">
        <input type="submit" value="Delete User" th:formaction="@{/register/deleteUser}">
        <br>
        <input type="submit" value="Create Permission" th:formaction="@{/register/createPermission}">
        <input type="submit" value="Delete Permission" th:formaction="@{/register/deletePermission}">
    </form>
</div>
<div>
    <h4>Assignment management</h4>
</div>
<h4>Validate permissions</h4>
</body>
</html>